* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav {
    background-color: rgb(39, 44, 43);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 90px;
}
nav a {
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
nav li:first-child {
    margin-right: auto;
    font-size: 2rem;
}
nav a:hover {
    background-color: rgb(56, 63, 62);
    transition: background-color 0.35s ease;
    border-radius: 10px;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(39, 44, 43, 0.753);
    backdrop-filter: blur(10px);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
@media(max-width: 768px) {
    .hideOnMobile {
        display: none;
    }
}
@media (min-width: 769px) {
    .menu {
        display: none;
    }
}
.logo a {
    color:hsl(160, 100%, 83%);
    font-size: 1.8rem;
    font-weight: 800;
}

/* MAIN */

.page1 {
    min-height: 100vh;
    /* border: solid #000; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.content1 {
    font-size: 1.5rem;
    margin-left: 20px;
}
/* FOOTER */
.ftcontainer {
    width: 100%;
    height: 40vh;
    background-color: rgb(39, 44, 43);
    display: flex;   
}
.ftcontainer ul {
    list-style-type: none;
}
.ftcontainer a {
    text-decoration: none;
    color: #fff;
}
.ftcol {
    width: 33%;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 50px 30px 20px 20px;
    /* border: #fff solid 1px; */
}
.ftcol h3 {
    font-size: 1.5rem;
    position: relative;
    max-width: max-content;
}
.ftcol h3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:hsl(160, 84%, 58%);
    bottom: -10px;
}
.ftcol ul li{
    /* padding: 10px; */
    /* border: solid #ffffff 1px; */
    margin-bottom:5px;
}
.ftcol ul li a:hover {
    color: hsl(160, 84%, 58%);
    transition: 0.3s ease-in-out;
    padding-left: 15px;
}